/*Home Page Design*/
#home {
	background-color: #000000;
	min-height: 100vh;
	text-align: center;
}

.mainLogo {
	padding: 5px 0px 0px;
	margin: 0px auto 0px;
}

.mainLogo img {
	height: 500px;
}

.homeTitle h1 {
	color: #ffffff;
	animation: desktop_type 2s steps(25);
	overflow: hidden;
	white-space: nowrap;
	font-family: consolas;
	border-right: 2px solid #ffffff;
	width: 25ch;
	font-size: 45px;
	margin: 0px auto 0px;
}

@keyframes desktop_type {
	0% { width: 0ch; }
	100% { width: 25ch; }
}

/*About Page Design*/
#about:before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background-image: url('/images/AboutBG.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;

	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

#about {
	background: #000000;
	background-color: rgba(0, 0, 0, 0.8);
	min-height: 530px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.aboutTitle {
	padding: 100px 50px 0px;
}

.aboutTitle h1 {
	margin: 0;
	font-size: 50px;
	color: #ffffff;
}

.aboutDescription {
	max-width: 700px;
	margin: 70px auto 20px;
	padding: 10px 50px 10px;
	color: #ffffff;
	font-size: 25px;
}

/*Responsive*/
@media(max-width: 720px) {
	.homeTitle h1 { font-size: 35px; }
}

@media(max-width: 510px) {
	.mainLogo { padding-top: 20px; }
	.mainLogo img { height: 400px; }

	.homeTitle { 
		margin-left: 10px;
	}

	.homeTitle h1 {
		border: none;
		margin: 0px auto 20px;
		width: 9ch;
	}

	.homeTitle h1 span {
		animation-delay: 1s;
		animation: mobile_type 1s steps(9);
		display: block;
		margin: 0px auto 20px;
	}

	@keyframes mobile_type {
		0% { width: 0ch; }
		100% { width: 9ch; }
	}
}

@media(max-width: 500px) {
	.aboutTitle h1 { font-size: 40px; }
	.aboutDescription { font-size: 20px; }
}

@media(max-width: 400px) {
	.mainLogo { padding-top: 30px; }
	.mainLogo img { height: 300px; }

	.mobileTitlePage h1 { font-size: 30px; }
}