/* Shop Design */
#shop {
	background: #000;
	min-height: 100vh;
	padding: 80px 0px 0px;
	text-align: center;
}

/* Shop Header */
.productPage_header {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	min-height: 300px;
	text-align: center;
	padding: 50px 0px 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.productPage_header p {
	color: #fff;
	font-size: 35px;
	border: 1px solid #fff;
	width: 370px;
	margin: 50px auto 100px;
	padding: 20px;
}

.productPage_header > a div {
	width: 200px;
	display: inline-block;
	margin: 0px 50px 0px;
	padding: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-right: none;
	border-left: none;
	z-index: 1;
	background: transparent;
	transition: all 0.3s ease;
  	position: relative;
}

.productPage_header > a div:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: #f1f1f1;
	transition: all 0.3s ease;
}

.productPage_header > a div:hover {
	color: #000;
}

.productPage_header > a div:hover:after {
	top: 0;
	height: 100%;
}

.productPage_header a {
	font-size: 20px;
	color: #fff;
}

/* Responsive Shop Header */
@media(max-width: 650px) {
	.productPage_header > a div {
		width: 200px;
		margin: 30px 20px 0px;
	}
}

@media(max-width: 500px) {
	.productPage_header p {
		font-size: 25px;
		width: 250px;
		padding: 15px;
	}

	.productPage_header > a div { 
		width: 180px;
	}
}

/* Different Product Page Headers */
#allProducts_header {
	background-image: url('/images/TEST_AllProductsHeader.jpg');
}

#maskProducts_header {
	background-image: url('/images/TEST_MaskHeader.jpg');
}

#shirtProducts_header {
	background-image: url('/images/TEST_ShirtHeader.jpg');
}

/* Optimized Product Display Design for Desktop */
.productDisplay {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-image: url('/images/TEST_ShopBG.jpg');
	min-height: 100vh;
	text-align: center;
	padding: 50px 0px 0px;
	border-top: 5px solid #000;
	border-right: none;
	border-left: none;
	border-bottom: none;
}

.productDisplay > div {
	padding: 50px 0px 50px;
	margin: 0px auto 0px;
}

.productDisplay button {
	margin: 10px;
	padding: 0px;
	max-width: 350px;
	transition: 0.5s;
	background: #1a1a1a;
	outline: none;
	border: none;
}

.productDisplay button:hover > img {
	opacity: 0.5;
	transition: all 0.5s ease;
}

.productDisplay button img {
	object-fit: cover;
	background: #000;
	transition: all 0.5s ease;
}

.productDescription {
	padding: 0px 10px 0px;
	background-color: #1a1a1a;
	margin: -4px 0px 0px;
	color: #fff;
}

.productDescription h1 {
	font-size: 18px;
	margin: 10px;
}

.productDescription p {
	font-size: 15px;
	font-weight: bold;
	margin: 10px;
}

.shopCarouselDescription {
	display: none;
}

/* Optimized Product Display Design for Tablets and Phones */
@media(max-width: 1480px) {
	.productDisplay button { 
		margin: 5px; 
	}
}

@media(max-width: 1440px) {
	.productDisplay button {
		max-width: 300px;
	}
}

@media(max-width: 630px) {
	.productDisplay button {
		max-width: 250px;
	}
}

@media(max-width: 520px) {
	.productDisplay button {
		min-width: 270px;
	}
}

/* Individual Shop Item Pages */