/*Shop Design*/
#shop {
	background: #F9F9F9;
	min-height: 100vh;
	padding: 80px 0px 30px;
	text-align: center;
}

#shop select {
	padding: 10px;
    font-size: 20px;
    color: #707070;
    border-radius: 5px;
    outline-style: none;
    text-align: center;
    margin: 50px auto 50px;
    display: block;
    width: 250px;
}

/*Optimized Product Display Design for Desktop*/
.productDisplay > div {
	padding: 0px 0px 100px;
}

.productDisplay .category {
	padding: 5px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: none;
	border-right: none;
	margin-bottom: 20px;
}

.productDisplay h2 {
	text-transform: uppercase;
	color: #000000;
	font-size: 30px;
	padding: 0;
	margin: 0px;
	letter-spacing: 5px;
}

.productDisplay button {
	margin: 20px;
	padding: 0px;
	max-width: 330px;
	transition: 0.5s;
	background: #ffffff;
	border: 1px solid #CDCDCD;
	outline: none;
}

.productDisplay button:hover {
	transform: translateY(-10px);
	box-shadow: 0px 15px 20px #000000;
}

.productDisplay button img {
	object-fit: cover;
	min-height: 250px;
	background: #000000;
}

.productDescription {
	padding: 3px 10px 3px;
	background-color: #191919;
	margin: -4px 0px 0px;
}

.productDescription h1 {
	font-size: 20px;
	color: #ffffff;
}

.productDescription p {
	font-size: 17px;
	font-weight: bold;
	color: #D7D7D7;
}

/*Optimized Product Display Design for Tablets and Phones*/
@media(max-width: 1110px) {
	.productDisplay button { margin: 5px; }
}

@media(max-width: 1030px) {
	.productDisplay button { width: 50%; }
}

@media(max-width: 1020px) {
	.productDisplay button { margin: 5px 20px 5px; }
}

@media(max-width: 800px) {
	#shop { padding: 80px 10px 30px; }

	.productDisplay button {
		margin: 5px 0px 5px;
		max-width: 470px;
	}

	.productDisplay button img { min-height: 200px; }
}

@media(max-width: 500px) {
	#shop { padding: 80px 5px 30px; }

	.productDisplay button {
		min-width: 100%;
		height: 150px;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	.productDisplay button img { 
		max-width: 150px;
		object-fit: scale-down;
		float: left;
		margin-top: -25px;
	}

	.productDescription { 
		background: transparent;
		margin-top: 25px;
	}

	.productDescription h1 { color: #000000; }
	.productDescription p { color: #656565; }
}

@media(max-width: 400px) {
	.productDescription { margin-top: 30px; }
	.productDescription h1 { font-size: 18px; }
	.productDescription p { font-size: 15px; }
}

/*Product Modal Carousel*/