/* Cart Design */
#cart {
    min-height: 100vh;
    background: #0f0f0f;
    text-align: center;
    padding: 120px 0px 30px;
}

/* Cart Carousel */
.cartContent {
    position: relative;
    max-width: 80%;
    min-height: 400px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #fff;
    margin: 20px auto 50px;
}

.productSection {
    min-width: 33.2%;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

#cart > div button {
    font-size: 50px;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    color: #fff;
    background: transparent;
    border: none;
    transition: 0.5s;
}

.mobileCarouselArrows { display: none }

.cartLeftArrow {
    left: 50px;
}

.cartRightArrow {
    right: 50px;
}

#cart > div button:hover {
    font-size: 70px;
}

/* Responsive Cart Carousel */
@media(max-width: 1240px) {
    .cartContent {
        max-height: 648px;
        display: block;
    }

    .productSection {
        max-height: 320px;
        width: 50%;
        display: inline-block;
    }
}

@media(max-width: 850px) {
    #cart {
        padding: 120px 10px 30px;
    }

    .cartContent {
        max-width: 400px;
        max-height: 660px;
    }

    .productSection {
        max-height: 220px;
        width: 100%;
        display: block;
    }

    .desktopCarouselArrows { display: none; }
    /* .mobileCarouselArrows  { display: block; } */
}

/* Cart Items */
.cartItem {
    position: relative;
    width: 300px;
    height: 350px;
    background: #000;
    display: inline-block;
    box-shadow: 0px 10px 15px #707070;
    text-align: center;
    overflow: none;
}

.productClose {
    color: #646464;
	font-size: 40px;
	font-weight: bold;
    right: 0;
    margin: 0px 10px 0px 0px;
    transition: all 0.4s ease;
    z-index: 2;
    position: absolute;
}
  
.productClose:hover,
.productClose:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	transform: rotate(90deg);
	transition: all 0.4s ease;
}

.cartItem .cartItemImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cartItem .cartItemImage img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    z-index: 1;
}

.cartItem .cartItemContent {
    position: absolute;
    bottom: 15px;
    left: 10%;
    width: 80%;
    height: 80px;
    background: #000;
    color: #fff;
    transition: 0.5s;
    overflow: hidden;
    padding: 12px;
    box-sizing: border-box;
    z-index: 3;
}

.cartItem .cartItemContent h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    transition: 0.5s;
}

.cartItemContent > p { 
    color: #acacac; 
}

.cartItem .cartItemContent div {
    margin: 50px 0 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
}

.cartItem .cartItemContent:hover img { 
    opacity: 0; 
}

.cartItem .cartItemContent:hover {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.cartItem .cartItemContent:hover h1 { 
    margin-top: 20px; 
}

.cartItem .cartItemContent:hover > p {
    opacity: 0;
    display: none;
    transition: 0.5s;
}

.cartItem .cartItemContent:hover div {
    opacity: 1;
    transition-delay: 0.5s;
}

/* Responsive Cart Items */
@media(max-width: 1240px) {
    .cartItem {
        min-width: 100%;
        border: 1px solid #000;
    }

    .cartItem .cartItemImage {
        width: 100%;
        padding: 0px auto 0px;
    }

    .cartItem .cartItemContent {
        width: 250px;
        bottom: 30px;
        transform: translateX(-50%);
        left: 50%;
    }

    .cartItem .cartItemContent:hover {
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        left: 50%;
    }
}

@media(max-width: 850px) {
    .cartItem {
        border: none;
    }

    .cartItem .cartItemContent {
        width: 250px;
        bottom: 190px;
        background: rgba(0, 0, 0, 0.8);
    }

    .cartItem .cartItemContent:hover {
        width: 100%;
    }

    .cartItem .cartItemContent:hover h1 {
        margin: 5px 0px -20px;
    }
}

/* Continue Shopping & Checkout Buttons */
#cart > button {
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	transition: 0.5s;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
    margin: 30px 20px 0px;
    border: none;
}

#cart > button:hover { 
    background: #6e6e6e; 
}

#cart > button a { 
    color: #000; 
    transition: 0.5s; 
}

#cart > button:hover a { 
    color: #fff; 
}