/* Cart Design */
#cart {
    min-height: 100vh;
    background: #0f0f0f;
    text-align: center;
    padding: 120px 50px 0px;
    background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-image: url('/images/TEST_ShopBG.jpg');
}

/* Cart Carousel */
.cartContent {
    min-height: 400px;
    border: 2px solid #fff;
    margin: 20px auto 50px;
    background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-image: url('/images/TEST_AllProductsHeader.jpg');
}

#cart > div button {
    background: transparent;
    z-index: 1;
}

#cart > div button:first-of-type {
    left: 0;
}

#cart > div button:last-of-type {
    right: 0;
}

/* Cart Items */
.cartItem {
    position: relative;
    width: 300px;
    height: 350px;
    background: #000;
    display: inline-block;
    text-align: center;
    overflow: none;
}

.productClose {
    color: #646464;
	font-size: 40px;
	font-weight: bold;
    right: 0;
    margin: 0px 10px 0px 0px;
    transition: all 0.4s ease;
    z-index: 2;
    position: absolute;
}
  
.productClose:hover,
.productClose:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	transform: rotate(90deg);
	transition: all 0.4s ease;
}

.cartItem .cartItemImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cartItem .cartItemImage img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    z-index: 1;
}

.cartItem .cartItemContent {
    position: absolute;
    bottom: 5px;
    left: 10%;
    width: 80%;
    height: 110px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    transition: 0.5s;
    overflow: hidden;
    padding: 12px;
    box-sizing: border-box;
    z-index: 3;
}

.cartItem .cartItemContent h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    transition: 0.5s;
}

.cartItem .cartItemContent h6 {
    font-size: 17px;
    margin: 10px;
}

.cartItemContent > p { 
    color: #acacac; 
}

.cartItem .cartItemContent div {
    margin: 50px 0 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
}

.cartItem .cartItemContent:hover img { 
    opacity: 0; 
}

.cartItem .cartItemContent:hover {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.cartItem .cartItemContent:hover h1 { 
    margin-top: 20px; 
}

.cartItem .cartItemContent:hover > p {
    opacity: 0;
    display: none;
    transition: 0.5s;
}

.cartItem .cartItemContent:hover div {
    opacity: 1;
    transition-delay: 0.5s;
}

/* Responsive Cart Carousel & Cart Items */
@media(max-width: 850px) {
    #cart {
        padding: 90px 5px 0px;
    }

    .cartContent { 
        background: transparent;
        border: none;
    }
}

@media(max-width: 500px) {
    #cart {
        padding: 80px 10px 0px;
    }

    .cartContent {
        min-height: 450px;
    }
}

@media(max-width: 400px) {
    #cart > div button:first-of-type {
        left: 90px;
        bottom: 0px;
    }
    
    #cart > div button:last-of-type {
        right: 90px;
        bottom: 0px;
    }
}

/* Continue Shopping & Checkout Buttons */
.cartOptionButtons {
    min-height: 170px;
    padding-bottom: 100px;
}

.cartOptionButtons a {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    width: 253px;
    height: 60px;
    left: 50%;
    transform: translate(-50%);
    line-height: 60px;
}

.cartOptionButtons a:nth-of-type(2) {
    margin: 100px 0px 0px;
}